@import 'vars.less';

.centro{
	.centralizar;
}

h1.no{
	text-align: center;
	color:#fff;
	.verdana(25px, bold);
}

body{
	background:url('../_imgs/layout/bg.jpg') #448430 center top no-repeat;
	header{
		height:312px;
		background:url('../_imgs/layout/padrao-pessoas.png') left bottom repeat-x;
		position:relative;
		z-index:1;
		#chamada{
			text-indent: -9999px;
			background:url('../_imgs/layout/chamada.png') center top no-repeat;
			position:absolute;
			top:0;
			left:0;
			z-index:0;
			height:312px;
			width:100%;
		}
		.centro{
			height:312px;
			position:relative;
			#garrafa{
				position:absolute;
				top:0;
				left:0;
			}
			nav{
				padding-top:180px;
				text-align:center;
				ul{
					list-style:none;
					li{
						.inline;
						a{
							display:block;
							height:28px;
							line-height:28px;
							background:#fff;
							padding:0 10px;
							color:@marrom;
							-webkit-box-shadow: 0px 0px 6px 0px @marrom;
							box-shadow: 0px 0px 6px 0px @marrom;
							.verdana(14px, bold);
							.transition;
							&:active, &:visited{color:@marrom;}
							&:hover, &.ativo{
								background-color:@marrom;
								color:#fff;
							}
						}
					}
				}
			}
		}
	}
	.main{
		background-color:@amarelo;
		position:relative;
		&.main-regulamento, &.main-regulamento .centro {overflow:hidden;}
		.centro{
			position:relative;
			min-height:120px;
			&.checkIdade{
				padding:70px 0 130px 0;
				text-align:center;
				p{
					.verdana(14px);
					color:#000;
					&.questao{
						margin:30px 0;
						.verdana(18px, bold);
						color:#fff;
					}
				}
			}
			img.centralizada{
				display:block;
				margin:-30px auto 0 auto;
				position:relative;
				z-index:999;
			}
		}
	}
	footer{
		clear:both;
		background:@amarelo;
		height:135px;
		.centro{
			border-top:1px #fff solid;
			.centralizar(952px);
			padding-top:5px;
			font-size:0;
			.coluna{
				.inline;
				&.moderacao{
					width:180px;
					padding:45px 0 0 5px;
					span{
						.verdana(12px, bold);
						color:#000;
						background-color:#fff;
						padding:1px 2px;
					}
				}
				&.info{
					width:525px;
					padding-top:30px;
					margin-left:99px;
					p{
						text-align:right;
						color:#fff;
						.verdana(12px);
						line-height:100%;
						margin-bottom:12px;
						a{
							color:#fff;
							&:active, &:visited{color:#fff;}
							&:hover{text-decoration:underline;}
						}
					}
				}
				&.pastina{
					width:110px;
					margin-left:33px;
				}
			}
		}
	}
}

.link-branco{
	height:26px;
	line-height:26px;
	background:#fff;
	padding:0 10px;
	color:@marrom;
	-webkit-box-shadow: 0px 0px 6px 0px @marrom;
	box-shadow: 0px 0px 6px 0px @marrom;
	.verdana(14px, bold);
	.inline;
	.transition;
	&.central{margin:0 auto;}
	&.mb10{margin-bottom:10px;}
	&.blocky{display:block;}
	&.pad30{padding:0 30px;}
	&.w290{width:290px;}
	&.w70{width:70px;}
	&.txtcentral{text-align:center}
	&:active, &:visited{color:@marrom;}
	&:hover{
		background-color:@marrom;
		color:#fff;
	}
}

.ml20{margin-left:20px;}
.ml15{margin-left:15px;}
.ml10{margin-left:10px;}

.box-branco{
	background:#fff;
	-webkit-box-shadow: 0px 0px 6px 0px @marrom;
	box-shadow: 0px 0px 6px 0px @marrom;
	padding:12px;
	width:690px;
	margin:0 auto 10px auto;
	p{
		color:@marrom;
		.verdana(12px);
		margin-bottom:10px;
		line-height: 130%;
	}
}

.concluido{
	width:365px;
	text-align:center;
	.verdana(15px, bold);
	color:@marrom;
	margin:130px auto 50px auto;
}

form{
	font-size:0;
	padding-bottom:90px;
	.olho{
		color:#000;
		text-align:center;
		.verdana(14px);
		line-height:120%;
		margin:5px 0;
	}
	.pergunta{
		.verdana(15px, bold);
		color:#000;
		text-align:center;
		line-height:120%;
		margin:15px 0 5px 0;
	}
	textarea{
		width:668px;
		height:44px;
		line-height:160%;
		.verdana(15px);
		color:#000;
		resize:none;
		overflow:auto;
		margin:0;
		padding:5px 10px;
		border:1px #C7C7C7 solid;
	}
	.sobrescrito{
		border-top:1px #C7C7C7 solid;
		height:15px;
		margin-top:30px;
		text-align:center;
		span{
			.verdana(14px, bold);
			color:#000;
			background:#fff;
			padding:1px 4px;
			line-height:100%;
			margin-top:-8px;
			.inline;
		}
	}
	#consultar-cep{
		.inline;
		background:#CCC;
		color:#000;
		margin-top:1px;
		padding:1px 6px;
		margin-left:10px;
		.verdana(12px);
		.transition;
		&:active, &:visited{color:#000;}
		&:hover{color:#fff;}
	}
	.logradouro{
		border:1px #C7C7C7 solid;
		overflow:hidden;
		height:0;
		padding:0;
		margin:0;
		.transition;
		&.aberto{
			padding:10px;
			margin:15px 0;
			height:54px;
		}
	}
	label{
		.verdana(14px);
		.inline;
		color:#000;
		margin-bottom:5px;
		min-height:20px;
		input[type="text"],
		input[type="email"]{
			border:1px #C7C7C7 solid;
			padding:1px 4px;
			margin:0 0 0 5px;
			height:16px;
			line-height:16px;
			.verdana(14px);
			color:#000;
			&#input-nome{width:628px;}
			&#input-cpf{
				margin:0 15px 0 21px;
			}
			&#input-data_nascimento{width:87px;}
			&#input-rg{width:168px;}
			&#input-endereco{width:418px;margin-right:15px;}
			&#input-cidade{width:230px;}
			&#input-estado{width:22px;}
			&#input-email{width:369px;}
			&#input-cupom_fiscal{width:512px;}
			&#input-codigo_barra{width:418px;}
			&#input-numero{ width:40px; }
			&#input-complemento{ width:60px; }
		}
		span{
			float:left;
			font-size:10px;
			line-height:105%;
		}
		input[type="checkbox"]{cursor:pointer;}
		&.ps{
			padding-left:154px;
			display:block;
			margin:4px 0;
			cursor:pointer;
			a{
				color:#000;
				text-decoration: underline;
				.transition;
				&:active, &:visited{color:#000;}
				&:hover{color:#fff;}
			}
		}
	}
	input[type="submit"]{
		float:right;
		margin-right:155px;
		border:0;
		cursor:pointer;
	}
}

#alert{
	background:#fff;
	-webkit-box-shadow: 0px 0px 6px 0px @marrom;
	box-shadow: 0px 0px 6px 0px @marrom;
	padding:0;
	width:300px;
	margin:0 auto;
	height:0;
	overflow:hidden;
	text-align:center;
	color:@marrom;
	opacity:0;
	line-height: 130%;
	.verdana(12px);
	.transition;
	&.aberto{
		opacity:1;
		height:auto;
		padding:7px 12px;
		margin:10px auto;
	}
}

.agradecimento{
	position:relative;
	overflow:hidden;
}
@-webkit-keyframes rodar {
	from {
		-webkit-transform:rotate(0deg);
	}
	to {
		-webkit-transform:rotate(360deg);
	}
}
#bola{
	display:block;
	width:51px;
	height:51px;
	position:absolute;
	top:70px;
	left:0;
	&.animado{
		-webkit-animation-name: rodar;
		-webkit-animation-duration: 0.8s;
		-webkit-animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
	}
	-webkit-transition:left 5s ease-out, opacity .4s ease-in;
    -moz-transition:left 5s ease-out, opacity .4s ease-in;
    -o-transition:left 5s ease-out, opacity .4s ease-in;
    transition:left 5s ease-out, opacity .4s ease-in;
	&.final{
		left:980px;
	}
	&.final-apagado{
		opacity:0;
	}
}

p.marrom{
	margin:0 !important;
	color:@marrom !important;
	.verdana(15px) !important;
	text-align:center !important;
	line-height:180%;
}

@media only screen and (max-device-width: 480px){
	body{
    	-webkit-text-size-adjust: none;
    	label{
    		display:block;
    		width:100%;
    		margin:0 !important;
    		padding:0;
    		input[type="text"],input[type="email"]{
    			display:block !important;
    			max-width:400px !important;
    			width:400px !important;
    			margin:2px 0 8px 0 !important;
    		}
    		span{
    			float:none;
    		}
    	}
    	#consulta-cep{
    		margin:10px 0 10px 0 !important;
    	}
		.logradouro, .logradouro.aberto{
			padding:10px !important;
			height:auto !important;
			min-height:100px !important;
		}
  	}
}