.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.centro {
  width: 1024px;
  padding: 0 0;
  margin: 0 auto;
}
h1.no {
  text-align: center;
  color: #fff;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 25px;
  font-weight: bold;
}
body {
  background: url('../_imgs/layout/bg.jpg') #448430 center top no-repeat;
}
body header {
  height: 312px;
  background: url('../_imgs/layout/padrao-pessoas.png') left bottom repeat-x;
  position: relative;
  z-index: 1;
}
body header #chamada {
  text-indent: -9999px;
  background: url('../_imgs/layout/chamada.png') center top no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 312px;
  width: 100%;
}
body header .centro {
  height: 312px;
  position: relative;
}
body header .centro #garrafa {
  position: absolute;
  top: 0;
  left: 0;
}
body header .centro nav {
  padding-top: 180px;
  text-align: center;
}
body header .centro nav ul {
  list-style: none;
}
body header .centro nav ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body header .centro nav ul li a {
  display: block;
  height: 28px;
  line-height: 28px;
  background: #fff;
  padding: 0 10px;
  color: #715e19;
  -webkit-box-shadow: 0px 0px 6px 0px #715e19;
  box-shadow: 0px 0px 6px 0px #715e19;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body header .centro nav ul li a:active,
body header .centro nav ul li a:visited {
  color: #715e19;
}
body header .centro nav ul li a:hover,
body header .centro nav ul li a.ativo {
  background-color: #715e19;
  color: #fff;
}
body .main {
  background-color: #c5a007;
  position: relative;
}
body .main.main-regulamento,
body .main.main-regulamento .centro {
  overflow: hidden;
}
body .main .centro {
  position: relative;
  min-height: 120px;
}
body .main .centro.checkIdade {
  padding: 70px 0 130px 0;
  text-align: center;
}
body .main .centro.checkIdade p {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #000;
}
body .main .centro.checkIdade p.questao {
  margin: 30px 0;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
body .main .centro img.centralizada {
  display: block;
  margin: -30px auto 0 auto;
  position: relative;
  z-index: 999;
}
body footer {
  clear: both;
  background: #c5a007;
  height: 135px;
}
body footer .centro {
  border-top: 1px #fff solid;
  width: 952px;
  padding: 0 0;
  margin: 0 auto;
  padding-top: 5px;
  font-size: 0;
}
body footer .centro .coluna {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body footer .centro .coluna.moderacao {
  width: 180px;
  padding: 45px 0 0 5px;
}
body footer .centro .coluna.moderacao span {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  padding: 1px 2px;
}
body footer .centro .coluna.info {
  width: 525px;
  padding-top: 30px;
  margin-left: 99px;
}
body footer .centro .coluna.info p {
  text-align: right;
  color: #fff;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 100%;
  margin-bottom: 12px;
}
body footer .centro .coluna.info p a {
  color: #fff;
}
body footer .centro .coluna.info p a:active,
body footer .centro .coluna.info p a:visited {
  color: #fff;
}
body footer .centro .coluna.info p a:hover {
  text-decoration: underline;
}
body footer .centro .coluna.pastina {
  width: 110px;
  margin-left: 33px;
}
.link-branco {
  height: 26px;
  line-height: 26px;
  background: #fff;
  padding: 0 10px;
  color: #715e19;
  -webkit-box-shadow: 0px 0px 6px 0px #715e19;
  box-shadow: 0px 0px 6px 0px #715e19;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.link-branco.central {
  margin: 0 auto;
}
.link-branco.mb10 {
  margin-bottom: 10px;
}
.link-branco.blocky {
  display: block;
}
.link-branco.pad30 {
  padding: 0 30px;
}
.link-branco.w290 {
  width: 290px;
}
.link-branco.w70 {
  width: 70px;
}
.link-branco.txtcentral {
  text-align: center;
}
.link-branco:active,
.link-branco:visited {
  color: #715e19;
}
.link-branco:hover {
  background-color: #715e19;
  color: #fff;
}
.ml20 {
  margin-left: 20px;
}
.ml15 {
  margin-left: 15px;
}
.ml10 {
  margin-left: 10px;
}
.box-branco {
  background: #fff;
  -webkit-box-shadow: 0px 0px 6px 0px #715e19;
  box-shadow: 0px 0px 6px 0px #715e19;
  padding: 12px;
  width: 690px;
  margin: 0 auto 10px auto;
}
.box-branco p {
  color: #715e19;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 10px;
  line-height: 130%;
}
.concluido {
  width: 365px;
  text-align: center;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #715e19;
  margin: 130px auto 50px auto;
}
form {
  font-size: 0;
  padding-bottom: 90px;
}
form .olho {
  color: #000;
  text-align: center;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 120%;
  margin: 5px 0;
}
form .pergunta {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #000;
  text-align: center;
  line-height: 120%;
  margin: 15px 0 5px 0;
}
form textarea {
  width: 668px;
  height: 44px;
  line-height: 160%;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #000;
  resize: none;
  overflow: auto;
  margin: 0;
  padding: 5px 10px;
  border: 1px #C7C7C7 solid;
}
form .sobrescrito {
  border-top: 1px #C7C7C7 solid;
  height: 15px;
  margin-top: 30px;
  text-align: center;
}
form .sobrescrito span {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  background: #fff;
  padding: 1px 4px;
  line-height: 100%;
  margin-top: -8px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
form #consultar-cep {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  background: #CCC;
  color: #000;
  margin-top: 1px;
  padding: 1px 6px;
  margin-left: 10px;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
form #consultar-cep:active,
form #consultar-cep:visited {
  color: #000;
}
form #consultar-cep:hover {
  color: #fff;
}
form .logradouro {
  border: 1px #C7C7C7 solid;
  overflow: hidden;
  height: 0;
  padding: 0;
  margin: 0;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
form .logradouro.aberto {
  padding: 10px;
  margin: 15px 0;
  height: 54px;
}
form label {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  color: #000;
  margin-bottom: 5px;
  min-height: 20px;
}
form label input[type="text"],
form label input[type="email"] {
  border: 1px #C7C7C7 solid;
  padding: 1px 4px;
  margin: 0 0 0 5px;
  height: 16px;
  line-height: 16px;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #000;
}
form label input[type="text"]#input-nome,
form label input[type="email"]#input-nome {
  width: 628px;
}
form label input[type="text"]#input-cpf,
form label input[type="email"]#input-cpf {
  margin: 0 15px 0 21px;
}
form label input[type="text"]#input-data_nascimento,
form label input[type="email"]#input-data_nascimento {
  width: 87px;
}
form label input[type="text"]#input-rg,
form label input[type="email"]#input-rg {
  width: 168px;
}
form label input[type="text"]#input-endereco,
form label input[type="email"]#input-endereco {
  width: 418px;
  margin-right: 15px;
}
form label input[type="text"]#input-cidade,
form label input[type="email"]#input-cidade {
  width: 230px;
}
form label input[type="text"]#input-estado,
form label input[type="email"]#input-estado {
  width: 22px;
}
form label input[type="text"]#input-email,
form label input[type="email"]#input-email {
  width: 369px;
}
form label input[type="text"]#input-cupom_fiscal,
form label input[type="email"]#input-cupom_fiscal {
  width: 512px;
}
form label input[type="text"]#input-codigo_barra,
form label input[type="email"]#input-codigo_barra {
  width: 418px;
}
form label input[type="text"]#input-numero,
form label input[type="email"]#input-numero {
  width: 40px;
}
form label input[type="text"]#input-complemento,
form label input[type="email"]#input-complemento {
  width: 60px;
}
form label span {
  float: left;
  font-size: 10px;
  line-height: 105%;
}
form label input[type="checkbox"] {
  cursor: pointer;
}
form label.ps {
  padding-left: 154px;
  display: block;
  margin: 4px 0;
  cursor: pointer;
}
form label.ps a {
  color: #000;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
form label.ps a:active,
form label.ps a:visited {
  color: #000;
}
form label.ps a:hover {
  color: #fff;
}
form input[type="submit"] {
  float: right;
  margin-right: 155px;
  border: 0;
  cursor: pointer;
}
#alert {
  background: #fff;
  -webkit-box-shadow: 0px 0px 6px 0px #715e19;
  box-shadow: 0px 0px 6px 0px #715e19;
  padding: 0;
  width: 300px;
  margin: 0 auto;
  height: 0;
  overflow: hidden;
  text-align: center;
  color: #715e19;
  opacity: 0;
  line-height: 130%;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
#alert.aberto {
  opacity: 1;
  height: auto;
  padding: 7px 12px;
  margin: 10px auto;
}
.agradecimento {
  position: relative;
  overflow: hidden;
}
@-webkit-keyframes rodar {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
#bola {
  display: block;
  width: 51px;
  height: 51px;
  position: absolute;
  top: 70px;
  left: 0;
  -webkit-transition: left 5s ease-out, opacity 0.4s ease-in;
  -moz-transition: left 5s ease-out, opacity 0.4s ease-in;
  -o-transition: left 5s ease-out, opacity 0.4s ease-in;
  transition: left 5s ease-out, opacity 0.4s ease-in;
}
#bola.animado {
  -webkit-animation-name: rodar;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}
#bola.final {
  left: 980px;
}
#bola.final-apagado {
  opacity: 0;
}
p.marrom {
  margin: 0 !important;
  color: #715e19 !important;
  font-family: 'Verdana', 'Arial', sans-serif !important;
  font-size: 15px !important;
  font-weight: normal !important;
  text-align: center !important;
  line-height: 180%;
}
@media only screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust: none;
  }
  body label {
    display: block;
    width: 100%;
    margin: 0 !important;
    padding: 0;
  }
  body label input[type="text"],
  body label input[type="email"] {
    display: block !important;
    max-width: 400px !important;
    width: 400px !important;
    margin: 2px 0 8px 0 !important;
  }
  body label span {
    float: none;
  }
  body #consulta-cep {
    margin: 10px 0 10px 0 !important;
  }
  body .logradouro,
  body .logradouro.aberto {
    padding: 10px !important;
    height: auto !important;
    min-height: 100px !important;
  }
}
